.activities-item{
    width: 250px;
    height: 420px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 50px;
    box-shadow: 4px 4px 8px #95A0A7;
    position: relative;
}
.activities-item img{
    width: 230px;
    height: 250px;
    border-radius: 8px;
    margin: 8px;
}
.activities-details{
    padding: 10px;
    margin-top: -20px;
}
.btn-item{
    width: 100%;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    border: none;
    border-radius: 0px 0px 8px 8px;
    background-color: #0fb9b1;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
